{{ define "main" }}
<article class="p-6 bg-white rounded-xl shadow-lg">
    <header class="mb-8 text-center">
        <h1 class="text-4xl font-bold text-custom-red-500">{{ .Title }}</h1>
        {{ if .Date }}
        <p class="text-sm text-custom-gray-600 mt-2">{{ .Date.Format "January 2, 2006" }}</p>
        {{ end }}
        {{ with .Params.tags }}
        <div class="mt-2">
            {{ range . }}
            <span class="inline-block bg-custom-red-100 text-custom-red-500 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </header>
    <hr class="custom-divider"/>
    <div class="prose prose-custom-red lg:prose-xl max-w-none {{ if or (eq .Type "blog") (eq .Type "portfolio") (eq .Type "publications") }}prose-sm md:prose-base{{ end }}">
        {{ .Content }}
    </div>
</article>
{{ end }}
