/* assets/css/main.css */
@import "tailwindcss";
@source "hugo_stats.json";

/* Tailwind Config */
@theme {
    --color-custom-red-50: #fef2f2;
    --color-custom-red-100: #fee2e2;
    --color-custom-red-200: #fecaca;
    --color-custom-red-400: #f87171;
    --color-custom-red-500: #ef4444;

    --color-custom-gray-600: #4b5563;
    --color-custom-gray-700: #374151;
    --color-custom-gray-800: #1f2937;

    --font-sans: "Source Code Pro", Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;

    --header-gradient: linear-gradient(to right, var(--color-custom-red-50), var(--color-custom-red-400));
    --footer-gradient: linear-gradient(to right, var(--color-custom-red-400), var(--color-custom-red-50));
}

@plugin "@tailwindcss/typography";
/* End Tailwind Config */

body {
    @apply bg-custom-red-50 text-custom-gray-700 flex flex-col min-h-screen font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-sans;
}

.custom-divider {
    @apply h-px bg-custom-red-200 my-6 border-none;
}

.nav-link.active {
    @apply text-custom-red-500 bg-custom-red-200 font-semibold;
}

.site-header {
    background-image: var(--header-gradient);
    @apply shadow-md sticky top-0 z-50 text-custom-gray-700;
}

.site-footer {
    background-image: var(--footer-gradient);
    @apply py-6 text-center text-custom-gray-700;
}

.content-card {
    @apply bg-custom-red-50 p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300;
}

.btn-primary {
    @apply inline-block bg-custom-red-400 hover:bg-custom-red-500 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition-all duration-300 transform hover:scale-105;
}