{{/* layouts/partials/publication-card.html */}}
<article class="content-card bg-white p-6 rounded-xl shadow-lg">
    <h3 class="text-xl font-semibold mb-1 text-custom-red-500">
        {{/* Link to the content page if it exists, otherwise check for an external link */}}
        {{ if .RelPermalink }}
            <a href="{{ .RelPermalink }}" class="hover:underline">{{ .Title }}</a>
        {{ else if .Params.link }}
             <a href="{{ .Params.link }}" target="_blank" rel="noopener noreferrer" class="hover:underline">{{ .Title }}</a>
        {{ else }}
            {{ .Title }}
        {{ end }}
    </h3>
    {{ with .Params.authors }}
    <p class="text-xs text-custom-gray-500 mb-1">Authors: {{ delimit . ", " }}</p>
    {{ end }}
    {{ if .Date }}
    <p class="text-xs text-custom-gray-500 mb-2">
        {{ .Date.Format "January 2, 2006" }}
        {{ with .Params.journal }}in <em>{{ . }}</em>{{ end }}
        {{ with .Params.event }}at <em>{{ . }}</em>{{ end }}
    </p>
    {{ end }}
    {{ if .Summary }}
        <p class="text-custom-gray-600 text-sm mb-3">{{ .Summary | plainify | truncate 150 }}</p>
    {{ end }}

    {{/* Show "Read more" only if there is a content page */}}
    {{ if .RelPermalink }}
        <a href="{{ .RelPermalink }}" class="text-custom-red-500 hover:underline text-sm font-semibold">Read more &rarr;</a>
    {{ end }}

    {{/* Show "External Link" if a link is provided */}}
    {{ with .Params.link }}
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer" class="btn-primary text-xs {{ if $.RelPermalink }}ml-4{{ end }}">
            External Link
        </a>
    {{ end }}
</article>
