{{/* layouts/partials/site-header.html */}}
<header class="site-header">
    <!-- Social Media Preview Meta Tags -->
    <meta property="og:title" content="Daniel Dia">
    <meta property="og:description" content="Computer & Communications Engineering & Mathematics student @AUB | Economics Enthusiast">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kibalchish47.github.io/">
    <meta property="og:image" content="https://kibalchish47.github.io/social-preview.png">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Daniel Dia">
    <meta name="twitter:description" content="Computer & Communications Engineering & Mathematics student @AUB | Economics Enthusiast">
    <meta name="twitter:image" content="https://kibalchish47.github.io/social-preview.png">
    
    <div class="container mx-auto px-6 py-4 flex flex-col md:flex-row justify-between items-center">
        <a href="{{ .Site.BaseURL | relLangURL }}" class="text-3xl font-bold mb-4 md:mb-0 text-custom-gray-800">
            {{ .Site.Params.AuthorName | default .Site.Title }}
        </a>
        <nav class="flex flex-wrap justify-center md:space-x-1">
            <a href="{{ "/" | relURL }}" class="nav-link px-5 py-2 text-custom-gray-700 hover:text-custom-red-500 hover:bg-custom-red-100 rounded-md transition-colors duration-300">Homepage</a>
            <a href="{{ "/about/" | relURL }}" class="nav-link px-5 py-2 text-custom-gray-700 hover:text-custom-red-500 hover:bg-custom-red-100 rounded-md transition-colors duration-300">About</a>
            <a href="{{ "/portfolio/" | relURL }}" class="nav-link px-5 py-2 text-custom-gray-700 hover:text-custom-red-500 hover:bg-custom-red-100 rounded-md transition-colors duration-300">Portfolio</a>
            <a href="{{ "/blog/" | relURL }}" class="nav-link px-5 py-2 text-custom-gray-700 hover:text-custom-red-500 hover:bg-custom-red-100 rounded-md transition-colors duration-300">Blog</a>
            <a href="{{ "/publications/" | relURL }}" class="nav-link px-5 py-2 text-custom-gray-700 hover:text-custom-red-500 hover:bg-custom-red-100 rounded-md transition-colors duration-300">Publications</a>
            <a href="{{ "/contact/" | relURL }}" class="nav-link px-5 py-2 text-custom-gray-700 hover:text-custom-red-500 hover:bg-custom-red-100 rounded-md transition-colors duration-300">Contact</a>
        </nav>
    </div>
</header>
