{{/* layouts/shortcodes/recent_experience.html */}}
<section id="experience" class="py-10 md:py-16 max-w-3xl mx-auto mb-12 md:mb-16">
    <h2 class="text-2xl md:text-3xl font-semibold text-custom-red-500 mb-8 text-center">
         <a href="{{ "/portfolio/" | relURL }}#experience-list" class="hover:underline">Recent Experience</a>
    </h2>
    <div class="bg-white p-6 md:p-8 rounded-xl shadow-lg">
        {{/* Fetch the most recent experience item */}}
        {{ with first 1 (where .Site.RegularPages.ByDate.Reverse "Type" "experience") }}
            {{ range . }}
                <div class="experience-item">
                    <h3 class="text-xl font-semibold text-custom-gray-800">{{ .Title }} - {{ .Params.company }}</h3>
                    <p class="text-sm text-custom-gray-500">{{ .Params.duration }}</p>
                    <p class="mt-2 text-custom-gray-700">{{ .Summary }}</p>
                    <a href="{{ "/portfolio/" | relURL }}#experience-list" class="inline-block mt-4 text-custom-red-500 hover:underline">View all experiences...</a>
                </div>
            {{ end }}
        {{ else }}
            <p class="text-custom-gray-700">Experience section is currently being updated. Please check back soon!</p>
        {{ end }}
    </div>
</section>
